
nav {
    align-self: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    background-color: rgb(26, 26, 26);
    color: rgb(230, 228, 228);
    position: fixed;
    z-index: 2;
    width: 100%
}

.theBody {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 80px;
}

#side {
    height: 80vh;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    border: 2px solid black;
    border-radius: 10px;
    background-color: lavender;
    padding: 15px 5px;
    margin: 5px;
    position: fixed;
    z-index: 1;
    transform: translateX(-70px);
    padding-bottom: 40px;
}

#foot {
    position: fixed;
    left:0px;
    bottom:0px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(92, 91, 91);
    align-items: flex-end;
    color: rgb(230, 228, 228);
}

#foot > p {
    margin-bottom: 5px;
}

main {
    flex-grow: 2;
    margin-left: 210px;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.links > a {
    padding: 0 5px;
}

.detailViewSing:nth-child(even) {
background-color: lavender;
}

.detailViewSing {
    display: flex;
    margin: 5px;
    padding: 10px;
    align-items: center;
}

#profile-pic {
    width: 400px;
    height: auto;
    margin-right: 10px;
}

.detailInfo {
    display: flex;
    flex-direction: column;
}
.contact {
    margin-bottom: 0;
    padding: 2px 5px;
}
#contact {
    border: 2px solid black;
    border-radius: 10px;
}

.scroll {
    opacity: 0.3;
    background-color: aqua;
    width: 40px;
    height: 40px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 5px;
    border: none;
}
    
.scroll:hover {
      opacity: 1;
    }

  
  .arrow-up {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -9px;
    margin-left: -5px;
  }

  b {
      font-weight: bold;
      color: rgb(37, 37, 37);
  }

  .sameLine {
      display: flex;
      justify-content: space-around;
  }

  .title {
      text-align: center
  }

  #star {
      float: right;
      font-size: 28px;
      margin-bottom: 20px;
  }
  #starSingle {
    margin: 0 auto;
    font-size: 28px;
    margin-bottom: 20px;
  }
 
.fav {
      color: gold;
  }

  .notFav {
    color: rgba(128, 128, 128);
  }

  #star:hover {
    text-shadow: 2px 2px 2px #000000;
  }

  .nameStar {
      display: flex;
      justify-content: space-around;
      align-items: center;
  }

  .picStar {
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  #mapView {
    height: 100vh;
    width: 100vw;
  }